@media print { body { -webkit-print-color-adjust: exact; } }
*{
    font-family: 'Open Sans', sans-serif;
}
#principal{
  height: auto;
}
/* Flex */
.d-none{
  display: none;
}
.d-block{
  display: inherit;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.flex-1-1{
  flex: 1 1 auto;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.no-wrap{
  flex-wrap: nowrap!important;
}
/* Textos*/
.text-bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.text-12{
  font-size: 12px!important;
}
.text-14{
  font-size: 14px!important;
}
.text-16{
  font-size: 16px!important;
}
.text-18{
  font-size: 18px!important;
}
.text-20{
  font-size: 20px!important;
}
.text-26{
  font-size: 26px!important;
}
.text-pink{
  color: #F0577B;
}
.totalP{
  width: 100%;
  text-align: right;
}
.totalP:nth-child(2){
  border-top:1px dashed #616161;
  padding-top: 10px;
  margin-top: 10px;
}
#totalP{
  font-weight: normal;
}
/* INPUTS */
.cajas-texto{
  position: relative;
  width: 100%;
  margin-top: 0px;
}

.error-input.mostrar-error{
  color: #FF5C17;
  height: 20px;
}

.error-input{
  height: 0;
  color: transparent;
  transition: 0.3s all;
}

.cajas-texto input, .cajas-texto select{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #E2BBBA;
  padding: 8px 15px;
  outline: none;
}

.cajas-texto input:focus{
  border-color: #FF647D;
  color: #FF647D;
}

.cajas-texto span.floating-label{
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  transition: 0.2s ease all;
  color: #afafaf;
}

.cajas-texto i.icono-eye-2,
.cajas-texto i.icono-eye{
  position: absolute;
  cursor: pointer;
  top: 30%;
  right: 15px;
  color: #afafaf;
}

.cajas-texto i.icono-eye-2:before,
.cajas-texto i.icono-eye:before{
  margin: 0;
}

.cajas-texto input:focus ~ .floating-label, .cajas-texto select:focus ~ .floating-label{
  top: 10px !important;
  opacity: 1 !important;
  color: #FF647D !important;
  background-color: #fff;
  padding: 0 3px;
  z-index: 2;
}
.combobox .cajas-texto input:focus ~ .floating-label, .combobox .cajas-texto select:focus ~ .floating-label, .combobox .valido ~ .floating-label, .combobox .error ~ .floating-label{
  top: 0px!important;
}
input.valido{
  border-color: #E6A2B0;
}

input.error{
  border-color: #FF5C17;
  color: #FF5C17;
}

.valido ~ .floating-label{
  top: 10px !important;
  opacity: 1 !important;
  color: #616161 !important;
  background-color: #fff;
  padding: 0 3px;
  z-index: 2;
}

.error ~ .floating-label{
  top: 10px !important;
  opacity: 1 !important;
  color: #FF5C17 !important;
  background-color: #fff;
  padding: 0 3px;
  z-index: 2;
}
.icono-mas-1, .icono-down-open, .icono-right-open, .icono-minus{

}
/* Banner */
.bannerPonElPecho{
  background-image: url('https://salud-digna.com/pon-el-pecho/banner-masto-en-150-web.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #FDCAC7;
}
.imgBanner{
  height: 300px;
  background-color: hotpink;
  width: 68.2%;
  p{
    text-align: center;
    padding-top: 7%;
    font-size: 50px
  }
}
/* Navbar */
.barraNav{
  background-color: #FF647D;
  display: flex;
  justify-content: center;
  
}
.movilNav{
  display: none;
}

.opcNav{
  flex: 0 1 auto;
  height: 55px;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFFFF;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.opcNav:first-of-type{
  border-left: 1px solid #FFFFFF;
}
.opcNav.active{
  background-color: #B54B60;
  cursor: inherit;
}
.icoNav{
  margin: 10px;
}

.navegacionCitas{
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}
.infoNavegacion{
  background: #CBCBCB 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 26px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoNavegacion:nth-child(1){
  border-radius: 6px 0 0 6px;
  margin-right: 2px;
}
.infoNavegacion:nth-child(2){
  margin-right: 1px;
}
.infoNavegacion:nth-child(3){
  margin-left: 1px;
}
.infoNavegacion:nth-child(4){
  border-radius: 0px 6px 6px 0px;
  margin-left: 2px;
}
.infoNavegacion.active{
  background-color: #F0BCBB;
}
/* ---------------Secciones------------- */
.seccion{
  background-color: #F2F2F2;
  background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/patron-lucha.png');
}
/* ----------Cita-------- */
.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  margin: 15px 0px;
  padding: 20px;
  h5{
    font-weight: 600;
    font-size: 16px;
  }
  h4{
    font-weight: 600;
    font-size: 20px;
  }
}
.sd-group-check {
  display: flex;
  position: relative
}
.sd-group-check .sd-item {
  position: relative
}
.sd-group-check .sd-item input {
  position: absolute;
  visibility: hidden
}
.sd-group-check .sd-item label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 0 30px;
  margin: 0;
  cursor: pointer;
  transition: all .25s linear;
  color: #828185
}
.sd-group-check .sd-item .sd-helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 0;
  border-radius: 4px;
  border: 1px solid #FF647D;
  transition: border-color .28s ease
}
.sd-group-check .sd-item .sd-helper::after,
.sd-group-check .sd-item .sd-helper::before {
  position: absolute;
  height: 0;
  width: .2rem;
  background-color: #fff;
  display: block;
  transform-origin: left top;
  border-radius: .25rem;
  content: '';
  transition: opacity .28s ease, height 0s linear .28s;
  opacity: 0
}
.sd-group-check .sd-item .sd-helper::before {
  top: 16px;
  left: 6px;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 .0625rem #FF647D
}
.sd-group-check .sd-item .sd-helper::after {
  top: 13px;
  left: 2px;
  transform: rotate(-45deg)
}
.sd-group-check .sd-item label:hover .sd-helper {
  color: #FF647D;
  background-color: #FF647D;
  border-radius: 3px;
}
.sd-group-check .sd-item input:checked~.sd-helper {
  color: #FF647D;
  background-color: #FF647D;
  border-radius: 3px;
}
.sd-group-check .sd-item input:checked~.sd-helper::after,
.sd-group-check .sd-item input:checked~.sd-helper::before {
  opacity: 1;
  transition: height .28s ease
}
.sd-group-check .sd-item input:checked~.sd-helper::after {
  height: .5rem
}
.sd-group-check .sd-item input:checked~.sd-helper::before {
  height: 16px;
  transition-delay: .28s
}
/* InfoCita */
.imgLucha{
  background-color: #F0BDBC;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paso40{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  hr{
    border: 2px dashed #FAC2BF;
    width: 30px;
    position: relative;
    bottom: 10px;
    margin: 3px;
  }
}
.rayaHumano{
  width: 45px!important;
}
.estudioSeleccionado{
  border: 2px solid #F0BDBC;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.estudioSeleccionado.active{
  background: #F0BDBC 0% 0% no-repeat padding-box;
  border: 0px solid #F0BDBC;
}
.FAQs {
  padding: 20px 15px;
}
.FAQs .encabezado {
  font-size: 20px;
  color: #616161;
  font-weight: 600;
  text-align: left;
  padding-left: 15px;
}
.FAQs ul {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 20px;
}
.FAQs ul li {
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px #00000045;
  overflow: hidden;
  transition: all .3s;
  position: relative;
  padding: 15px;
  border-radius: 4px;
}
.FAQs .preguntas-titulo {
  font-size: 23px;
  color: #616161;
  font-weight: 600;
  cursor: pointer;
}
.preguntas-titulo p {
  width: 90%;
  margin-bottom: 0;
  font-size: 16px;
}
.preguntas-titulo i {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #F05876;
}
.preguntas-cuerpo{
  padding: 10px 10px 10px 0;
}
.masto{
  font-size: 20px;
  letter-spacing: 0px;
  color: #616161;
}
.titulo-video{
  letter-spacing: 0px;
  color: #616161;
  font-size: 18px;
  font-weight: bold;
}
.protocolo {
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 4px;
  width: 100%;
}
.protocolo ul {
  list-style: none;
  padding: 0;
  color: #616161;
  font-size: 24px;
  margin-top: 20px;
}
.protocolo ul li {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  height: auto;
  padding: 10px 0;
  align-items: center;
}
.protocolo ul li:last-child {
  border-color: transparent;
}
.item-protocolo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.caja-icono {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.caja-icono img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.protocolo ul li i {
  font-size: 20px;
  color: #616161;
}
.video{
  width: 100%;
  height: 290px;
}
/* Form Cita */
.ui-datepicker{ z-index: 9999 !important;}
.dis{pointer-events:none}
.card.form{
  border-top: 20px solid #FAC2BF;
}
.masto-cita{
  background:#a8a7a7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #6161613B;
  border-radius: 5px;
  height: 170px;
  flex: 1 1 auto;
  color: white;
  margin: 10px 15px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  p{
    margin-bottom: 5px;
  }
  .text-bold{
    line-height: 24px;
  }
}
.masto-cita.active{
  background-color: #E45F7D;
  border: 3px solid #B54B60;
  cursor: pointer;
}
.octubre, .este19{
  display: none;
}
.proximamente{
  display: block;
}
.btn-pink-outline{
  width: 100%;
  color: #FF647D;
  font-weight: bold;
  border: 2px solid #FF647D;
  height: 40px;
  margin-bottom: 10px;
}
.btn-pink-outline:hover,.btn-pink-outline:focus{
  border: 2px solid #B54B60;
  color: #B54B60;
  background-color: white;
}
.btn-pink-outline:active{
  border: 2px solid #E6A2B0;
  color: #E6A2B0;
  background-color: white;
}
.combobox{
  width: 100%;
  margin: 10px 15px;
  input, select{
    width: 100%;
    height: 40px;
  }
  input{
    border: 1px solid #E2BBBA;
    border-radius: 4px;
  }
}
.linkPink, .linkPink:hover, .linkPink:focus{
  color: #FF647D;
  text-decoration: none;
  outline: none;
  margin: 20px 0px;
  cursor: pointer;
}
.my-10{
  margin: 20px 0;
}
.datos-px{
  width: 100%;
  margin: 10px 0;
  input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
  }
}
.btn-sexo{
  border: 1px solid #E2BBBA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
}
.btn-sexo:hover, .btn-sexo:focus, .btn-sexo.active{
  color: #CF787D;
  background-color: #FFE6EB;
  border: 1px solid #E2BBBA;
  cursor: inherit;
}
.paginador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 6px #00000029;
  border-radius: 0px 0px 4px 4px;
  height: 70px;
  margin: 0 -20px -20px -20px;
  font-weight: bold;
  font-size: 16px;
}
.btn-seguir{
  position: absolute;
  right: 25px;
  height: 50px;
  width: 33%;
  font-weight: bold;
  font-size: 16px;
  background-color: #F0577B;
  border: 0px solid;
  color: white;
}
.btn-regresar{
  position: absolute;
  left: 45px;
}
.rayas{
  border-color: #c0c0c0;
}
.btn-sexo i{
  font-size: 34px;
  margin-left: -20px;
}
.infoTelefono{
  cursor: pointer;
  i{
    color: #FAC2BF;
    font-size: 20px;
    float: right;
  }
  #datosTelefono{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F0BCBB;
    font-size: 10px;
    width: 150px;
    position: absolute;
    right: 38px;
    margin-top: 26px;
    z-index: 10;
    padding: 5px;
    border-radius: 4px;
  }
} 
.correoNecesario{
  font-size: 12px;
  padding: 0 5px;
  margin-top: -8px;
}
/* Pagar */
.pkts{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  display: flex;
  padding: 10px;
  margin: 15px 0;
  height: fit-content;
}
.displayPKT{
  width: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.displayPKT .pktSoloEnLinea{
  display: none;
  background-color: #E6E6E6;
  border-radius: 6px;
  padding: 8px;
  margin-top: 10px;
  color: #616161;
}
.displayPKT .pktSoloEnLinea i{
  font-size: 17px;
}
.displayPKT .pktSoloEnLinea span{
  font-size: 10px;
}
.precioPKT{
  position: absolute;
    right: 4px;
    font-size: 11px;
    text-align: left;
    background-color: #E6AAB6;
    top: -10px;
    width: 60px;
    border-radius: 0px 0px 4px 4px;
    color: white;
    padding: 15px 5px 5px 5px;
    b{
      font-size: 18px;
    }
}
.descripcionPKT{
  width: 84%;
}
.infoPKT{
  padding: 0px 15px 0px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.imgPKT{
  border-radius: 5px;
  height: 120px;
}
.emisores{
  position: absolute;
  right: 34px;
  margin-top: -41px;
}
.quitarPKT_papa, .quitarPKT_densi{
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}
.resumenCita{
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #AFAFAF;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}
.tablaCita{
  width: 100%;
}
.paqueteMovil{
  display: none;
}
.tipoPago.active{
  background: #FFE6EB 0% 0% no-repeat padding-box;
  border: 1px solid #E2BBBA;
  border-radius: 4px;
  width: 50%;
  margin:15px;
  cursor: inherit;;
  p, i{
    color:#CF787D;
    font-size: 36px;
  }
}
.tipoPago{
  background: #a8a7a7 0% 0% no-repeat padding-box;
  border-radius: 4px;
  width: 50%;
  margin:15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p, i{
    color: #8e8e8e;
    font-size: 36px;
  }
}
// .tipoPago i{
//   font-size: 36px;
//   color: #CF787D;
// }
.icono-pago-en-linea{
  position: relative;
  right: 10px;
}
.icono-datos{
  font-size: 18px;
  color: #CF787D;
}
.cargando{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cargando div img{
  margin: 10px;
}
/* ----------Ingresar-------- */
/*---- LogIn-----*/
.regresar{
  margin-left: -10px;
  font-size: 16px;
  color: #0074D9;

}
.olvide{
  font-size: 12px;
  float: right;
  color: #0074D9;
}
.btn-pink{
  color: #fff;
  background-color: #FF647D;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.btn-pink:active, .btn-seguir:active{
  background-color: #E6A2B0;
  color: white!important;
}
.btn-pink:focus, .btn-pink:hover, .btn-seguir:focus, .btn-seguir:hover{
  background-color:#B54B60;
  color: white!important;
}
.btn-seguir[disabled]{
  background-color: #E5e5e5;
}
.logIn{
  height: auto;
}
.infoRecuperar{
  color: #AFAFAF;
  font-size: 12px;
  margin-top: 1rem;
}
.mx-20{
  margin: 20px 0;
}
/* ----------Revista-------- */
.areaRevista{
  background-color: #323232;
  height: 50vh;
  width: 100%;
}
.border-bottom{
  border-bottom: 2px solid #E5E5E5;
}
/* ----------Paciente Beneficiado-------- */
.tablaBeneficiarios{
  width: 100%;
  
  tr{
    height: 50px;
  }
}

.buscador{
  width: 100%;
  display:flex;
  border: 1px solid #AFAFAF;
  border-radius: 4px;
  align-items: center;
  padding-left: 10px;
}
.buscardor:focus-within{
  border: 2px solid #afafaf;
}
.buscar{
  height: 40px;
  flex: 1 1 auto;
  border: 0px;
}
.buscar:focus, .btn-pink:focus, .btn-pink-outline:focus{
  outline-width: 0px!important;
}
.lupa{
  padding: 10px;
}
.contenedorTablaBeneficiarios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.pxBeneficiado{
  background-color: white;
  height: 50px;
  display: flex;
  position: relative;
  bottom: 2px;
  img{
    position: relative;
    top: 2px;
  }

}
.p-l-1{
  padding-left: 10px;
}
#tuplasBeneficiarios{
  height: 50%;
}
.paginador{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 3px 6px #0000001A;
  border-radius: 4px;
  align-items: center;
  padding: 20px;
  p{
    margin: 0;
  }
  i{
    margin: 10px;
  }
}
/*-----------Perfil-----------*/
.p-x-15{
  padding: 0 15px 0 15px;
}
.mediaCard{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  height: auto;
  padding: 1.8rem;
}
.headerPerfil{
  letter-spacing: 0px;
  color: #E56078;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.col-sm-6 .masto{
  font-size: 16px;
  line-height: 25px;
}
.faqPerfil{
  padding: 10px;
}
.bannerLentes{
  width: 100%;
  border-radius: 10px;
  height: 150px;
}
.cerrarSesion{
  text-align: right;
}
.miPerfil{
  display: flex;
  position: relative;
  flex-direction: row;
}
.salir{
  width: 100%;
  text-align: end;
}
.abrirPreparacion{
  display: none;
}
.infoPerfil{
  ul{
    line-height: 30px;
    padding-left: 10px;
    li{
      list-style: none;
      .icono-mail-7{
        font-size: 13px;
        margin-right: 6px;
      }
    }
  }
}
.ma-10{
  margin: 10px;
}
.screenshot{
  display:none;
}
.screenshotEscritorio{
  display: flex;
  align-items: center;
  padding: 15px;
  position: absolute;
  width: 60%;
  color: #AFAFAF;
  margin-top: -23px;
  img{
    margin: 10px;
    position: relative;
    bottom: 6px;
  }
  
}
.tuFolio{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000026;
  border: 2px dashed #95989A;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
}
.folio{
  color: #CF787D;
  font-size: 26px;
}
.fValido{
  color:#AFAFAF;
  font-size: 14px;
}
.reagendar{
  font-size: 14px;
  margin-top: 10px;
}
.w-50{
  width: 49%;
}
.instrucciones{
  p{
    margin: 10px 0;
    line-height: 23px;
  }
}
.mapa{
  background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/ubicacion-mapa.png');
  height: 113px;
  background-position: center;
}
.tacha{
  position: absolute;
  right: 22px;
  top: 15px;
}
.sumarEstudios{
  position: relative;
  padding: 15px;
}
.cancelarCita{
  background: #FDF8F9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000026;
  border-radius: 10px;
  padding: 6rem 3rem;
  margin: 20px;
  position: relative;
  .d-flex{
    .d-flex {
      .btn-pink-outline {
        height: 50px;
        font-size: 18px;
      }
      margin: 0 -15px;
      .btn{
        margin: 15px;
      }
    }
    p{
      padding:20px;
    }
  } 
}
.reagendarCita{
  background: #FDF8F9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000026;
  border-radius: 10px;
  padding: 6rem 3rem;
  margin: 20px;
  position: relative;

  .d-flex{
    .btn-pink{
      position: relative;
      top: 30px;
    }
  }
  
}
#reagendarAceptar{
  .btn-pink{
    position: relative;
    top: 30px;
  }
}
.hazloEnLinea{
  height: 105px;
  width: 100%;
  background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/HEL-web.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.imgUpSale{
  background-image: url(https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner%20paquete%20web.jpg);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  height: 290px;
  margin-bottom: 10px;
  position: relative;
  background-color: #FCC9C6;
  background-repeat: no-repeat;
  background-position: center;
}
.agregarEstudio{
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  h3{
    font-size: 26px;
    margin-bottom: 0px;
  }
  p{
    font-size: 22px;
    flex: 1 1 auto;
  }
  span{
    font-size: 32px;
  }
  button{
    height: 40px;
    font-size: 14px;
  }
}
.bannerDeLentes{
  height: 290px;
  width: 100%;
  //background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner-lentes%20desactivado-web.jpg');
  background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/bannerLentes.png');
  background-repeat: no-repeat;
  background-position-x: center;
}
.precioEstudio{
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
}
.finalNav{
  display: block;
  height: 30px;
}
.btn-siguiente{
  color: #FF647D;
  font-weight: bold;
  float: right;
  margin: 10px 20px;
  cursor: pointer
}
.btn-atras{
  color: #FF647D;
  font-weight: bold;
  float: left;
  margin: 10px 0px;
  cursor: pointer
}
.inputCard{
  margin: 10px 20px;
  input{
    height: 40px;
    border: 1px solid #E2BBBA;
    border-radius: 4px;
  }
  input:focus{
    outline: none;
  }
  p{
    margin-left: 0px!important;
  }
  .emisores{
    right: 21px;
    margin-top: -31px;
    width: 96px;
  }
}

.nameCard, .numCard{
  width: 216px;
}
.nCard{
  width: 100%;
}
.finalNav.pago {
  position: unset!important;
}
.PKTcomprado{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.foliosGenerados{
  display: flex;
  flex-direction: row;
}
.fPagado{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  margin: 0px 20px;
  line-height: 24px;
  p{
    margin-bottom: 0px;
  }
}
.parsley-errors-list{
  padding-left: 10px;
  list-style: none;
  color: #FF5C17;
  background-color: #FBE1D6;
  width: fit-content;
  border-radius: 2px;
  font-size: 11px;
}
.invalidCard, .parsley-required{
  color: #FDCAC7;
  font-size: 10px;
  color: #FF5C17;
  background-color: #FBE1D6;
  width: fit-content;
}
@media only screen and (min-width: 501px) {
  .sumarEstudios.sumarPKT{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    height: 325px;
    padding: 15px;
    .d-flex{
      flex-wrap: wrap;
      p{
        margin-left: 20px;
        flex: 0 0 350px;
        max-width: 350px;
      }
      .elegirHR, .fechaYhora{
        position: relative;
        left: 140px;
        bottom: 55px;
        width: 100%;
      }
      .fechaYhora .d-flex .combobox{
        width: 33%;
      }
    }
    .finalNav{
      position: relative;
      bottom: 74px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .imgUpSale{
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner%20paquete%20tablet.jpg');
  }
  .sumarEstudios.sumarPKT{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    height: 325px;
    padding: 15px;
    position: relative;
    .d-flex{
      flex-wrap: wrap;
      p{
        margin-left: 20px;
        flex: 0 0 300px;
        max-width: 300px;
      }
      .elegirHR, .fechaYhora{
        position: relative;
        left: 139px;
        bottom: 60px;
        width: 100%;
      }
      .fechaYhora .d-flex .combobox{
        width: 28%;
      }
    }
    .finalNav{
      position: relative;
      bottom: 74px;
    }
  }
}
/*----------------- TABLET -----------------*/
@media only screen and (max-width: 1000px) {
  #infoCita{
    order: 10;
  }
  .movilOrden{
    display: flex;
    flex-direction: column;
  }
  .bannerPonElPecho{
    background-image: url('https://salud-digna.com/pon-el-pecho/banner-masto-en-150-tablet.jpg');
    background-color: #FDCAC7;
    height: 150px;
  }
  .hazloEnLinea{
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/HEL-tablet.jpg');
  }
  .bannerDeLentes{
    height: 150px;
    width: 100%;
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner-lentes%20desactivado-tablet.jpg');
    //background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner-tablet-lentes.png');
  }
  .imgUpSale{
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner%20paquete%20tablet.jpg');
  }
  .nameCard, .numCard {
    width: 300px;
  }
  .nCard{
    width: 188px;
  }
}

/*----------------- MOVIL -----------------*/
@media only screen and (max-width: 500px) {
  .barraNav{
    display: none;
  }
  .movilNav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF647D;
    height: 52px;
    font-size: 16px;
    color: white;
  }
  .movilMenu{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF647D;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;  
  }
  .renglon{
    display: flex;
    flex-direction: row;
    .opcMovil{
      width: 165px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .opcMovil:first-of-type{
      border-right: 1px solid white;
    }
    .opcMovil:last-of-type{
      border-left: 1px solid white;
    }
  }
  .renglon:first-of-type{
    border-bottom: 1px solid white;
  }
  .renglon:last-of-type{
    border-top: 1px solid white;
  }
  .infoNavegacion span{
    display: none;
  }
  .navegacionCitas{
    padding: 15px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: none;
  }
  .abrirPreparacion{
    display: flex;
    align-items: center;
    justify-content: center;
    b{
      flex: 1;
    }
    i{
      font-size: 30px;
    }
  }
  #infoCita{
    order: 10;
  }
  .paquete1{
    display: none;
  }
  .paquete2{
    display: none;
  }
  .masto-cita{
    p{
      margin-bottom: 0px;
      font-size: 14px!important;
    }
    .octubre{
      font-size: 10px!important;
    }
  }
  .movilOrden{
    display: flex;
    flex-direction: column;
  }
  .octubre{
    position: absolute;
    background-color: #CF787D;
    padding: 3px;
    transform: rotateZ(45deg);
    right: -24px;
    top: 18px;
    display: block;
    height: 19px;
    width: 109px;
  }
  .este19{
    display: block;
  }
  .proximamente{
    display: none;
  }
  .bannerPonElPecho{
    background-image: url('https://salud-digna.com/pon-el-pecho/banner-masto-en-150-movil.jpg');
    background-color: #FDCAC7;
    height: 150px;
  }
  .hazloEnLinea{
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/HEL-movil.jpg');
  }
  .card.noCardMovil {
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin: 15px 0px;
    padding: 0;
  }
  .cardMovil{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    margin: 15px 0px;
    padding: 20px;
  }
  .paqueteMovil{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin-bottom: 20px;
    display: block;
  }
  .imagenPKTMovil{
    width: 100%;
    height: 87px;
    border-radius: 6px 6px 0 0;
  }
  .descripcionPKTMovil{
    padding: 15px;
  }
  .precioPKTMovil{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .totalPKTMovil{
    padding: 15px;
    font-size: 11px;
  }
  .botonesPKT{
    height: 55px;
    button{
      width: 120px; 
      float: right;
      margin: 0 15px 15px 0;
    }
  }
  .avisoPKT{
    position: absolute;
    top: -46px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 188px;
    font-size: 10px;
    left: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
      padding: 7px;
      margin-bottom: 0px;
    }
  }
  .video{
    height: 232px;
  }
  .screenshot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    img{
      margin: 10px;
      position: relative;
      bottom: 6px;
    }
  }
  .screenshotEscritorio{
    display: none;
  }
  .paqueteMovil .pktPapa{
    padding: 15px 60px 15px 15px;
    position: relative;
  }
  .paqueteMovil .pktMujer{
    padding: 15px 60px 15px 15px;
    position: relative;
  }
  .quitarPKTMovil{
    position: absolute;
    bottom: -26px;
    left: 26px;
    font-size: 14px;
    font-weight: bold;
  }
  .btn-regresar{
    left: 6px;
    bottom: 20px;
  }
  .tuFolio{
    .d-flex .d-flex{
      flex-wrap: wrap;
    }
    .d-flex .d-flex .d-flex:nth-child(4){
      flex: 0 0 90%;
    }
  }
  .cardMovil .flex-row{
    flex-direction: column;
    .w-50{
      width: 100%;
    }
  }
  .imgUpSale{
    padding: 15px;
    width: 330px;
    margin: auto;
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner%20paquete%20movil.jpg');
  }
  .bannerDeLentes{
    height: 150px;
    width: 100%;
    //background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner-lentes%20desactivado-movil.jpg');
    background-image: url('https://sd-storage.sfo2.digitaloceanspaces.com/LA-LUCHA/images/banner%20movil%20lp%20lentes.png');
  }
  #reagendar-inputs .row{
    flex-direction: column;
    padding-right: 15px;
  }
  .sumarEstudios.sumarPKT{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    height: fit-content;
    .d-flex{
      flex-wrap: wrap;

      img{
        height: 50px;
        flex: 0 0 50px;
        margin-right: 25px;
      }
      p{
        flex: 0 0 auto;
        max-width: 300px;
      }
      b{
        width: 100%;
      }
      .flechaYhora{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
  .agregarEstudio{
    text-align: right;
    p{
      padding-left: 50%;
    }
  }

}
.inputCard .emisores {
  right: -24px;
  margin-top: -41px;
  width: 96px;
}
.nameCard, .numCard{
  width: 190px;
}
.nCard{
  width: 100%;
}
.spinner {
  margin: 100px auto 80px;
  width: 80px;
  text-align: center;
}
.spinner>div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
  margin: 0 5px;
}
@-webkit-keyframes sk-bouncedelay{
  0%,100%,80%{-webkit-transform:scale(0)}
  40%{-webkit-transform:scale(1)}
}
@keyframes sk-bouncedelay{
  0%,100%,80%{
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  40%{-webkit-transform:scale(1);transform:scale(1)}
}
.modal-sd{
  background:rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter:saturate(100%) blur(0px);
  backdrop-filter:saturate(100%) blur(0px);
}
.modal-sd-body{
  border-top: 15px solid #fac2bf; 
  border-radius: 3px 3px 0 0;
  padding: 20px;
}
.modal-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.contenedor-pregunta{
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  margin-top: -63px;
  box-shadow: 0 -2px 9px rgba(0,0,0,.5);
  display: flex; 
  justify-content: center;
  align-items: center;
}
.contenedor-pregunta .icono-pregunta{
  color:#F05876;
  font-size: 57px;
}
.sd-modal-text{
  padding: 15px 0;
}
.sd-titulo{
  font-size:25px;
  font-weight:bold;
  color:#616161;
}
.sd-text{
  font-size: 16px;
}
.sd-boton-border, .sd-boton {
  width: 180px;
  height: 50px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
}
.sd-boton-border {
  background-color: #fff;
  border: 2px solid #F05876;
  color: #F05876;
  margin-right: 15px;
}
.sd-boton {
  background-color: #F05876;
  border: none;
  color: #fff;
}
.estudioSeleccionado i{
  font-size: 45px;
  color: #EAA6A6;
}
.estudioSeleccionado.active i{
  color: #fff;
}
.overlay_loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.overlay_loading p {
  font-size: 34px;
  color: #fff;
  background: rgba(0,0,0,.5);
  border-radius: 4px;
  margin: 0;
  padding: 15px;
  text-align: center;
}
#nav{
  display: none !important;
}