#principal{
  height: auto;
}
/* Flex */
.d-none{
  display: none;
}
.d-block{
  display: inherit;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
/* Textos*/
.text-bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.text-14{
  font-size: 14px;
}
.text-16{
  font-size: 16px;
}
.text-18{
  font-size: 18px;
}
.text-20{
  font-size: 20px;
}
/* Banner */
.bannerPonElPecho{
  background-color: palevioletred;
  margin: 0px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.imgBanner{
  height: 300px;
  background-color: hotpink;
  width: 68.2%;
  p{
    text-align: center;
    padding-top: 7%;
    font-size: 50px
  }
}
/* Navbar */
.barraNav{
  background-color: #F05876;
  display: flex;
  justify-content: center;
  
}
.opcNav{
  flex: 0 1 auto;
  height: 80px;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFFFF;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.opcNav:first-of-type{
  border-left: 1px solid #FFFFFF;
}
.opcNav.active{
  background-color: #B54B60;
  cursor: inherit;
}
/* ---------------Secciones------------- */
.seccion{
  background-color: #F2F2F2;
}
/* ----------Cita-------- */
.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  margin: 15px 0px;
  padding: 20px;
  h5{
    font-weight: 600;
    font-size: 16px;
  }
  h4{
    font-weight: 600;
    font-size: 20px;
  }
}
/* InfoCita */
.imgLucha{
  background-color: #F0BDBC;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FAQ{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000045;
  border-radius: 4px;
  padding: 15px;
}
.masto{
  font-size: 20px;
  letter-spacing: 0px;
  color: #616161;
}
.titulo-video{
  letter-spacing: 0px;
  color: #616161;
  font-size: 18px;
  font-weight: bold;
}
/* Form Cita */
.card.form{
  border-top: 20px solid #FAC2BF;
}
.masto-cita{
  background: #F0BDBC 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #6161613B;
  border-radius: 5px;
  height: 170px;
  flex: 1 1 auto;
  color: white;
  margin: 10px 15px;
  width: 50%;
}
.masto-cita.active{
  background-color: #E45F7D;
}
.btn-ubica{
  width: 100%;
  color: #F05876;
  font-weight: bold;
  border: 2px solid #F05876;
  height: 40px;
}
.btn-ubica:hover,.btn-ubica:focus{
  color: #Fff;
  background-color:#F05876;
  border: 2px solid #F05876;
}
.btn-ubica:active{
  color: #Fff;
  background-color:#eb607c;
  border: 2px solid #eb607c;
}
.combobox{
  width: 100%;
  margin: 10px 15px;
  input{
    width: 100%;
    height: 40px;
  }
}
.linkPink, .linkPink:hover, .linkPink:focus{
  color: #F05876;
  text-decoration: none;
  outline: none;
  margin: 20px 0px;
}
.my-10{
  margin: 20px 0;
}
.datos-px{
  width: 100%;
  margin: 10px 0;
  input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
  }
}
.btn-sexo{
  border: 1px solid #E2BBBA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
}
.btn-sexo:hover, .btn-sexo:focus, .btn-sexo.active{
  color: #CF787D;
  background-color: #FFE6EB;
  border: 1px solid #E2BBBA;
  cursor: inherit;
}
.paginador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 6px #00000029;
  border-radius: 0px 0px 4px 4px;
  height: 70px;
  margin: 0 -20px -20px -20px;
  font-weight: bold;
  font-size: 16px;
}
.btn-seguir{
  position: absolute;
  right: 25px;
  height: 50px;
  width: 33%;
  font-weight: bold;
  font-size: 16px;
}
.rayas{
  border-color: #c0c0c0;
}
/* ----------Ingresar-------- */
/*---- LogIn-----*/
.regresar{
  margin-left: -10px;
  font-size: 16px;
  color: #0074D9;

}
.olvide{
  font-size: 12px;
  float: right;
  color: #0074D9;
}
.btn-pink{
  color: #fff;
  background-color: #F0577B;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}



/*----------------- MOVIL -----------------*/
@media only screen and (max-width: 500px) {
  #infoCita{
    order: 99;
  }
  .movilOrden{
    display: flex;
    flex-direction: column;
  }
}